body{
    background-color: rgb(37, 150, 190);
    text-align: center;
}
.Firstpart{
    margin-top: 30px;

}
.top{
    background-color: white;
    text-align: center;
    margin-top: -2.2%;
    margin-right: 478px;
    margin-left: 475px;
    padding-bottom: 20px;
}
.next{
    padding-top: 70px;
    padding-left: 62px;
    padding-right: 43px;
}
.row{
    padding-top: 30px;
    padding-left: 75px;
    padding-right: 55px;
}
.mb{
    margin-top: 20px;
}
.d-grid {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 44px;
    margin-left: 61px;
}


